<div class="<%= classImg %>">
    <div class="img-box">
        <img src="<%= imgSrc %>" alt="Publicidad <%= title %>">
        <div>
            <h3><%= title %></h3>
            <p><%= description %></p>
        </div>
    </div>
</div>