<div class="carrito-producto">
    <div class="producto-left">
        <img src="<%= imgSrc %>" alt="">
        <p><%= title %></p>
    </div>
    <div class="producto-right">
        <a href="<%= locals.removeLink || '#' %>">Quitar</a>
        <div class="boton">
            <button>-</button>
            <button><%= locals.quantity || 1 %></button>
            <button>+</button>
        </div>
        <h1><%= price %></h1>
    </div>
</div>