<!-- ToDo acá deben ir las moleculas de login-form.ejs -->
<!--Esto es una plantilla-->

<div class="form-grupo">
    <input 
        type="<%= tipo %>"
        id="<%= id %>"
        name="<%= id %>"
        class="form-input"
        placeholder=""
        required
    >
    <label for="<%= id %>" class="form-label"><%= etiqueta %></label>
    <span class="form-line"></span>
</div>