<div class="nav-pagina">
    <nav>
        <ul>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-computer', text: 'Electronica', position: 'left' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-utensils', text: 'Alimentos', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-wine-glass-empty', text: 'Bebidas', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-shirt', text: 'Indumentaria', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-gamepad', text: 'Juegos', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-car', text: 'Automotor', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-house', text: 'Hogar', position: '' }) %>
            <hr>
            <%- include('../molecules/nav-item', { icon: 'fa-solid fa-gifts', text: 'Otros', position: 'right' }) %>
        </ul>
    </nav>
</div>