<section class="section-productos">
    <div class="contenedor-productos">
        <h2>Los más pedidos</h2>
        <div class="box-productos">
            <%- include('../molecules/productCard', { 
                link: './product.html', 
                imgSrc: './img/producto-jack.jpg', 
                title: 'Whiskey Jack<br>Daniels Honey<br>750ml', 
                puntos: '19.900' 
            }) %>
            
            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>
            
        </div>
        <h2>Te puede interesar</h2>
        <div class="box-productos">
            <%- include('../molecules/productCard', { 
                link: './product.html', 
                imgSrc: './img/deyuno-clasico.jpeg', 
                title: 'Desayuno<br>Clasico', 
                puntos: '5.000' 
            }) %>
            
            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>

            <%- include('../molecules/productCard', { 
                imgSrc: './img/producto-defoult.jpg', 
                title: 'Nombre del<br>producto o<br>servicio', 
                puntos: 'xx.xxx' 
            }) %>
            
        </div>
    </div>
</section>