<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>

    <main>
        <div class="main-checkout">
            <form action="/checkout" method="POST" class="checkout__form">
                <div class="form__articulos">
                    <%- include('../partials/molecules/shipping-form')%>
                    <%- include('../partials/molecules/payment-form')%>
                </div>

                <label for="condiciones" class="form__condiciones">
                    <input type="checkbox" id="condiciones" required> Acepta los términos y condiciones
                </label>
                
                <button type="submit" class="form__continuar">Continuar con el pago</button>
            </form>

            <%- include('../partials/organisms/checkout-cart')%>
        </div>
    </main>

    <%- include('../partials/organisms/footer')%>
</body>