<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <main>
        <%- include('../partials/organisms/navbar') %>

        <%- include('../partials/organisms/navbar') %>
    </main>
    <%- include('../partials/organisms/footer')%>
</body>
