<%- include('../partials/global/head')%>
<body>
    <%- include('../partials/organisms/header')%>
    <main>
        <%- include('../partials/atoms/back-link', { textoVolver: 'Volver al Home', categoria: 'Productos'}) %>
        <div class="main">
            <div class="container">
                <%- include('../partials/molecules/product-gallery')%>
                <%- include('../partials/molecules/product-description')%>
            </div>
        </div>
        <%- include('../partials/organisms/list-products')%>
        <%- include('../partials/organisms/nav-bar')%>
    </main>
    <%- include('../partials/organisms/footer')%>
</body>